.container{'ng-controller'=> 'MainCtrl as ctrl'}
  %h1.visible-xs Extra small screen
  %h1.visible-sm Small screen
  %h1.visible-md Medium screen
  %h1.visible-lg Large screen
  %hr
  .row
    .col-md-5
      .form-group
        %label{for: 'plain-text'} Plain text:
        %textarea{class: 'form-control', rows: 5, id: 'plain-text', 'ng-model'=> 'ctrl.plain'}
    .col-md-2.center.text-center
      .wrapper
        %form{name: 'cryptForm', novalidate: true}
          .input-group
            %span.input-group-addon#rot ROT {{ctrl.rot}}
            %input.form-control{type: 'text', 'ng-model'=> 'ctrl.rot', 'ng-pattern'=> 'ctrl.validate', 'aria-describedby'=> 'rot', required: true}
          %button.btn.btn-xs.btn-primary.btn-arrow-left{type: 'button', 'ng-click'=> 'ctrl.decrypt()', 'ng-disabled'=> 'cryptForm.$invalid'} Decrypt
          %button.btn.btn-xs.btn-warning.btn-arrow-right{type: 'button', 'ng-click'=> 'ctrl.encrypt()', 'ng-disabled'=> 'cryptForm.$invalid'} Encrypt
    .col-md-5
      .form-group
        %label{for: 'encrypted-text'} Encrypted text:
        %textarea{class: 'form-control', rows: 5, id: 'encrypted-text', 'ng-model'=> 'ctrl.encrypted'}
  .row
    .col-md-12.text-center.chart
      %div{'ui-chart'=> 'ctrl.cryptChart', 'chart-options'=> 'ctrl.chartOptions'}
  .row
    .col-md-12
      .well
        = FFaker::Lorem.paragraph
