// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  padding: 35px 0px;
}

.center .input-group {
  width: 150px;
  margin: auto;
}

textarea.custom-font,
.well.custom {
  font-size: 18px;
}

.chart {
  margin: 5px 0px;
  .jqplot-axis {
    font-size: 1.25em;
  }
}

/* Middle column (ROT input) */
$highlight-valid: #2ecc71;
$highlight-invalid: #c0392b;

.input-group {
  .form-control, .input-group-addon {
    padding: 3px 9px;
    font-size: 17px;
  }
}
form#crypt-form {
  .ng-invalid.ng-dirty {
    border-color: $highlight-invalid;
    box-shadow: rgba($highlight-invalid, 0.6) 0px 0px 8px 0px;
  }
  .ng-valid.ng-dirty {
    border-color: $highlight-valid;
    box-shadow: rgba($highlight-valid, 0.6) 0px 0px 8px 0px;
  }
}

/* Bottom row */
.well.custom-footer {
  width: 80%;
  margin: auto;
}


@media (min-width: 992px) {
  .btn-arrow-right,
  .btn-arrow-left {
    margin: 3px 0px;
  }
}

@media (max-width: 992px) {
  .center {
    padding: 0px;
  }
} 


