/* Arrows on sm and xs sxreens */

$flat-blue: #2980b9;
$flat-orange: #e67e22;

.small-arrow-left,
.small-arrow-right {
    position: relative;
   top: -13px; /* an icon is slightly shorter than it's container */
    cursor: pointer;
}

.small-arrow-left {
  color: $flat-blue;
  border-color: darken($flat-blue, 10%);
} 

.small-arrow-right {
  color: $flat-orange;
  border-color: darken($flat-orange, 10%);
}

.small-arrow-left:hover {
  color: darken($flat-blue, 10%);
  border-color: darken($flat-blue, 10%);
}

.small-arrow-right:hover {
  color: darken($flat-orange, 10%);
  border-color: darken($flat-orange, 10%);
}

@media (max-width: 992px) {
  .small-arrow-left,
  .small-arrow-right,
  .rot-container {
    display: inline-block !important;
  }
}
