/* Arrows on sm and xs sxreens */

$flat-blue: #2980b9;
$flat-orange: #e67e22;

#sm-decrypt-button,
#sm-encrypt-button {
    position: relative;
   top: -13px; /* an icon is slightly shorter than it's container */
    cursor: pointer;
}

#sm-decrypt-button {
  color: $flat-blue;
  border-color: darken($flat-blue, 10%);
} 

#sm-encrypt-button {
  color: $flat-orange;
  border-color: darken($flat-orange, 10%);
}

#sm-decrypt-button:hover {
  color: darken($flat-blue, 10%);
  border-color: darken($flat-blue, 10%);
}

#sm-encrypt-button:hover {
  color: darken($flat-orange, 10%);
  border-color: darken($flat-orange, 10%);
}

@media (max-width: 992px) {
  #sm-decrypt-button,
  #sm-encrypt-button,
  .rot-container {
    display: inline-block !important;
  }
}
